# API URLs
VITE_API_URL=http://localhost:8000
VITE_AUTH_URL=http://localhost:9000

# Exposed ports
FRONTEND_PORT=3000

# Last.fm integration, create an API account at https://www.last.fm/api/account/create
VITE_LASTFM_API_KEY=
VITE_LASTFM_SHARED_SECRET=
